.container {
    height: 500px;
    width: 50%;
    display: grid;
    margin: 100px auto;
    border: 2px solid black;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}

.items {
    background-color: pink;
}

#header {
    grid-column: 1 / span 12;
}