.container {
    height: 500px;
    width: 50%;
    display: grid;
    margin: 100px auto;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}

.items {
    background-color: pink;
}

#header {
    grid-column: 1 / span 12;
}

#side-bar {
    grid-row: 2 / 12;
    grid-column: 1 / span 3;
}

#nav {
    grid-column: 4 / 10;
}

#ads {
    grid-column: 10 / 13;
    grid-row: 2 / 12;
}

#main {
    grid-row: 3 / 12;
    grid-column: 4 / 10;
}

#footer {
    grid-column: 1 / span 12;
}
