.container {
    height: 500px;
    width: 50%;
    display: grid;
    margin: 100px auto;
    border: 2px solid black;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}

.items {
    background-color: pink;
}

#header {
    grid-column: 1 / span 12;
}

#side-bar {
    grid-row: 2 / 12;
    grid-column: 1 / span 3;
}

#nav {
    grid-column: 4 / 10;
}

#ads {
    grid-column: 10 / 13;
    grid-row: 2 / 12;
}

#main {
    grid-row: 3 / 12;
    grid-column: 4 / 10;
}

#footer {
    grid-column: 1 / span 12;
}


@media (max-width: 720px) {
    #header {
        grid-column: 1 / span 12;
    }
    #nav {
        grid-column: 1 / span 12;
        grid-row: 2 / 3;
    }
    #side-bar {
        grid-row: 3 / 12;
        grid-column: 1 / span 3;
    }
    #main {
        grid-row: 3 / span 9;
        grid-column: 4 / span 9;
    }
    #ads {
        grid-column: 1 / span 3;
        grid-row: 12 / span 1;
    }
    #footer {
        grid-column: 4 / span 9;
    }
}

.loader {
    width: 200px;
    height: 200px;
    border: 20px solid pink;
    border-radius: 50%;
    border-top: 20px solid aqua;
    animation: spin 2s linear 0.5s 5 alternate-reverse;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}