body {
    font-family: "Trade Winds", system-ui;
    height: 100vh;
    position: relative;
}

body::before {
    content: "";
    inset: -2px;
    position: fixed;
    background: url("collage.jpeg") center / cover no-repeat;
    opacity: 0.8;
    z-index: -1;
}

body > * {
    position: relative;
    z-index: 1;;
}

.navbar-icon img{
    width: 60px;
    height: 50px;
}

.form-control {
    width: 600px;
    height: 35px;
    margin-left: 150px;
}

.nav-item {
    padding: 0 15px;
}

.form-submit {
    width: 25%;
    height: 80%;
    margin: 10px auto;
    background-color: aliceblue;
}

.form-submit a img {
    margin-left: 15px;
    margin-top: 5px;
}

.form-submit a h3 {
    padding-left: 15px;
}

.form-submit p {
    padding-left: 15px;
}

.input-data {
    margin: 5px 15px;
    width: 90%;
}

